@model ETForum.Models.StudySession

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudySession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <select asp-for="korisnikId" class ="form-control" asp-items="ViewBag.korisnikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="pocetak" class="control-label"></label>
                <input asp-for="pocetak" class="form-control" />
                <span asp-validation-for="pocetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kraj" class="control-label"></label>
                <input asp-for="kraj" class="form-control" />
                <span asp-validation-for="kraj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trajanje" class="control-label"></label>
                <input asp-for="trajanje" class="form-control" />
                <span asp-validation-for="trajanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
