@model ETForum.Models.Korisnik
@{
    ViewData["Title"] = "Moj profil";
}

    }
<ul>
	<li>Email: @Model.Email</li>
	<li>Ime: @Model.ime</li>
	<li>Prezime: @Model.prezime</li>
	<li>Datum registracije: @Model.datumRegistracije.ToShortDateString()</li>
</ul>

    }
    }

    .page-header {
        text-align: center;
        margin-bottom: 30px;
    }

    }
