@{
    ViewData["Title"] = "Naslovna stranica";
}

<div class="text-center my-5">
    <h1 class="display-4">Dobrodošao, @ViewBag.KorisnikIme!</h1>
</div>


    <div class="container mb-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
        @if (User.IsInRole("Administrator")){
        <div class="col">
            <a asp-controller="Korisnik" asp-action="Kreiraj" class="text-decoration-none">
                <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <i class="bi bi-person-fill display-4 mb-3 text-secondary"></i>
                        <h5 class="card-title fw-bold text-dark">Kreiraj novog korisnika</h5>
                    </div>
                </div>
            </a>
        </div>
        }
        @if (!User.IsInRole("Administrator") && !User.IsInRole("Gost") && User.Identity.IsAuthenticated){
        <div class="col">
            <a asp-controller="PrivatniChat" asp-action="Chat" class="text-decoration-none">
                <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <i class="bi bi-envelope-paper-fill display-4 mb-3 text-secondary"></i>
                        <h5 class="card-title fw-bold text-dark">Lista prijatelja</h5>
                    </div>
                </div>
            </a>
        </div>
        }
        @if (User.IsInRole("Administrator"))
        {
            <div class="col">
                <a asp-controller="Korisnik" asp-action="SviKorisnici" class="text-decoration-none">
                    <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <i class="bi bi-people-fill display-4 mb-3 text-secondary"></i>
                            <h5 class="card-title fw-bold text-dark">Lista svih korisnika</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
        <div class="col">
            <a asp-controller="QnA" asp-action="Index" class="text-decoration-none">
                <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <i class="bi bi-question-circle display-4 mb-3 text-primary"></i>
                        <h5 class="card-title fw-bold text-dark">QnA</h5>
                    </div>
                </div>
            </a>
        </div>
        @if (!User.IsInRole("Profesor"))
        {
            <div class="col">
                <a asp-controller="Home" asp-action="StudyRoom" class="text-decoration-none">
                <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <i class="bi bi-journal-text display-4 mb-3 text-success"></i>
                        <h5 class="card-title fw-bold text-dark">Study Room</h5>
                    </div>
                </div>
            </a>
        </div>
        }

        <div class="col">
            <a asp-controller="Home" asp-action="LiveChat" class="text-decoration-none">
                <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <i class="bi bi-chat-dots display-4 mb-3 text-info"></i>
                        <h5 class="card-title fw-bold text-dark">Live Chat</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a asp-controller="Dostignuce" asp-action="Index" class="text-decoration-none">
                <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <i class="bi bi-trophy display-4 mb-3 text-warning"></i>
                        <h5 class="card-title fw-bold text-dark">Dostignuća</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a asp-controller="OcjenaPredmeta" asp-action="Smjer" class="text-decoration-none">
                <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <i class="bi bi-star display-4 mb-3 text-danger"></i>
                        <h5 class="card-title fw-bold text-dark">Ocjena Predmeta</h5>
                    </div>
                </div>
            </a>
        </div>
        @if(User.Identity.IsAuthenticated) {
            <div class="col">
                <a asp-controller="Korisnik" asp-action="MojProfil" class="text-decoration-none">
                    <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <i class="bi bi-person-lines-fill display-4 mb-3 text-success"></i>
                            <h5 class="card-title fw-bold text-dark">Moj Profil</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
        @if (!(User.Identity.IsAuthenticated))
        {
            <div class="col">
                <a asp-controller="Korisnik" asp-action="Login" class="text-decoration-none">
                    <div class="card h-100 text-center shadow-sm border-0 hover-scale bg-light">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <i class="bi bi-person-lines-fill display-4 mb-3 text-success"></i>
                            <h5 class="card-title fw-bold text-dark">Prijavi se</h5>
                        </div>
                    </div>
                </a>
            </div>
        }

        </div>
    </div>


