# Visual Studio build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Bb]in/
*.suo
*.user
*.sln.docstates
*.cache

# Nuget packages
[Pp]ackages/
*.nupkg

# Rider, VS Code, etc additional ignores
.vs/
.idea/
.vscode/